
.card {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    
    align-items: center;
    margin: 16px;
    width: 200px;
    height: 300px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: rotate(360deg);
    transition: transform 2s ease-in-out;
  }
  
  .card__img {
    width: 100px;
    height: 100px;
    margin-right: 16px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .card__title {
    align-self: center;
    justify-self: center;
    margin-bottom: 8px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card__description {
    font-size: 1rem;
    line-height: 1.5;
  }
  