.vertical-timeline-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.vertical-timeline-image {
  width: 100%;
  height: auto;
}

.vertical-timeline-content {
  display: flex;
  flex-direction: column;
}

.vertical-timeline-element-description {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  margin-bottom: 8px;
}


// /

.vertical-timeline-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.timeline-icon {
  margin-left: 8px;
  cursor: pointer;
}
